@{
    Layout = null;
}

<br />

<div class="row">
    <div class="jumbotron jumbotron-slim" style="background-color: lightskyblue">
        <h2>Pressford Consulting latest articles</h2>
        <h4>You can find the latest articles below...</h4>
        <br />
        @if (User.Identity.IsAuthenticated && User.IsInRole("Publisher"))
        {
            <a class="btn btn-danger" href="#/new/">Write an Article</a>
        }
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 style="text-align: center">Most liked Articles</h3>
        <nvd3 class="remove-x-lines" style="height: 300px" options="vm.chartOptions" data="vm.chartData">
        </nvd3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div ng-repeat="article in vm.articles" class="row">

            <h3>{{article.title}}</h3>

            <p style="color: dodgerblue"><i>Published by {{article.author.fullName}} - {{article.creationDate | date}}</i></p>

            <div class="article-card" ta-bind="text" ng-model="article.body" ta-readonly="true"></div>

            <a href="#/article/{{article.id}}" class="btn btn-primary btn-xs pull-right">Read more...</a>

            <p class="article-likes"><img src="https://freeiconshop.com/wp-content/uploads/edd/like-flat.png" class="icon16" /> This article has been liked {{article.likes.length}} times...</p>

            <p class="article-comments"><img src="https://freeiconshop.com/wp-content/uploads/edd/chat-flat.png" class="icon16" /> This article has {{article.comments.length}} comments...</p>

        </div>

    </div>
</div>